@import "../waybar/colors.css";

window {
	background-color: rgba(0, 0, 0, 0);
	background: transparent;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 10px;
}

/**
 * Box around icons
 */
#box {
	padding: 12px;
}

/* This is to underline the button representing the currently active window */
#active {
	border-bottom: solid 0px;
	border-color: @primary;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: @primary;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: @primary;
	font-size: 12px
}

button:hover {
	background-color: @primary_container;
	border-radius: 10px;
}

button:focus {
	box-shadow: none;
}
