Config(
  width: Absolute(600),
  position: Top,
  vertical_offset: 45,
  hide_plugin_info: true,
  hide_icons: true,
  show_results_immediately: false,
  max_entries: Some(15),
  plugins: [
    "libapplications.so",
    "libshell.so",
    "libnix_run.so",
    "libwebsearch.so",
     "libstdin.so"
  ],
)
