
window {
  max-width: 600px;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
}

window,
box.plugin,
box.main,
list,
box{
  border-radius: 12px;
}

box.main {
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


text {
  min-height: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
   color: rgba(237, 92, 1, 1);;
}


box.plugin.info {
  min-width: 200px;
}



entry {
  background-color: rgba(49, 50, 68, 0.9);
  color: #cdd6f4;
  border: 1px solid rgba(237, 92, 1, 1);
  border-radius: 8px;
  padding: 9px 12px;
  margin: 8px;
  min-height: 32px;
  font-size: 18px;
}

list {
  background-color: transparent;
  padding: 4px;
  margin-top: 8px;
  border-radius: 12px;
}

row {
  padding: 10px 12px;
  margin: 2px 4px;
  border-radius: 6px;
  color: rgba(237, 92, 1, 1);
  background-color: #381807;
  border: 1px solid rgba(237, 92, 1, 0);
}


row:hover {
  background-color: #0a6b77;
}

row:hover .description {
  font-size: 16px;
  color: rgba(237, 92, 1, 1);
}
row:selected {
  background-color: #381807;
  border: 1px solid rgba(237, 92, 1, 1);
}

row:selected:hover {
  background-color: #381807;
}


.title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(237, 92, 1, 1);
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  color: rgba(237, 92, 1, .5);
}