/* Simplified anyrun styling */

window {
  background-color: rgba(49, 50, 68, 0.9);
  border: 2px solid rgba(196, 89, 1, 0.836);
  border-radius: 16px;
}


entry {
  background-color: rgba(49, 50, 68, 0.9);
  background-color: transparent;
  color: #cdd6f4;
  border-radius: 16px;
  padding: 16px 24px;
  min-height: 40px;
  font-size: 20px;
  caret-color: #89b4fa;
}

list {
  background-color: transparent;
  padding: 8px;
}

row {
  padding: 8px;
  border-radius: 8px;
  background-color: #3e1a01;
  color: #cdd6f4;
}

row:selected {
  background-color: #3e1a01;
    border: 2px solid rgba(196, 89, 1, 0.836);
  color: #313244;
}
